.alert {
  @apply flex text-body-3 leading-body-3 text-left text-black bg-gray-300 font-700 rounded p-3;

  a {
    @apply underline cursor-pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &State{
    &Success{
      @apply bg-turquoise-100 text-turquoise;
    }
    &Caution{
      @apply bg-red-100 text-red;
    }
    &Warning{
      @apply bg-orange-100 text-orange;
    }
    &Info{
      @apply bg-blue-100 text-blue;
    }
  }
}

.text {
  @apply self-center;
}

.icon {
  @apply relative flex-none mr-2;
  fill: currentColor;
  top: -1px;
}
