.container{
  @apply relative;
}

.suggestionsContainerOpen{
  @apply block absolute w-full bg-white rounded p-3 text-body-2 leading-body-2 overflow-y-auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px !important;
  z-index: 30;
  max-height: 272px;
}

.sectionContainer:not(:first-child){
  @apply mt-2;
}

.sectionTitle{
  @apply mb-2;

  &SizeSmall{
    @apply text-body-3 leading-body-3;
  }
  &SizeLarge{
    @apply text-body-2 leading-body-2;
  }
}

.suggestion{
  @apply p-2 cursor-pointer rounded-xsmall;

  &SizeSmall{
    @apply text-body-3 leading-body-3;
  }
  &SizeLarge{
    @apply text-body-2 leading-body-2;
  }
}

.suggestionHighlighted{
  @apply bg-gray-200;
}
